body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Delius', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Martel', serif;
    font-size: 32px;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
}

a, a:visited {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 8px;
    background: none;
    border: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 8px;
}